flask
flask_mail
mysql-connector-python
cx_Oracle
pysocks
numpy
py-bcrypt
jwt
requests
lxml
pandas
configparser
pymysql
marshmallow-sqlalchemy
flask_marshmallow
flask_sqlalchemy
flask_admin
flask_statistics
flask_monitoringdashboard
dicttoxml
colorama
gevent